body {
    background-color: lightslategray;
    font-family: 'Oxygen', sans-serif;
    letter-spacing: 2px;
    font-size: larger;
    margin: 0;
    padding: 0;
    min-height: 100%;
}
html {
    height: 100%;
}

.topnav {
    overflow: hidden;
    text-align: center;
    align-items: center;
    margin: 100px 0 0 0;
    border: 1px solid black;
}

.topnav img {
    border: 1px solid blue;
    padding: 0;
    border-radius: 5px;
    margin-bottom: -6px;
}

.topnav a {
    /* float: left; */
    text-decoration: none;
    font-size: 25px;
    border: 1px solid red;
}

footer {
    position: relative;
    bottom: 0;
    text-align: center;
    border: 1px solid black;
}

footer img {
    border: 1px solid blue;
    border-radius: 50px;
    margin-bottom: -5px;
    /* height: 100%;
    width: 100%; */
}

footer a {
    border: 1px solid red;
}

.dummy {
    width: 200px;
    height: 100px;
    border: 1px solid white;
    overflow: hidden;
    text-align: center;
    align-items: center;
    margin: 50px auto auto auto;
}

.dummy-item {
    width: 40%;
    height: 40%;
    margin: 5px 0 auto 5px;
    border: 1px solid white;
}

/* Prevents a tags from changing color after being clicked */
a, a:visited, a:hover, a:active {
    color: inherit;
}

@media all and (max-width: 600px) {
    body {
        font-size: large;
    }
    /* .topnav {
        text-align: center;
        margin-top: 50px;
    }
    .topnav a {
        text-decoration: none;
        border-radius: 50px;
        margin: auto;
    } */
    .topnav {
        margin-top: 50px;
    }
}