body {
    background-color: lightslategray;
    font-family: 'Oxygen', sans-serif;
    letter-spacing: 2px;
    font-size: larger;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: large;
    }

    .nav-links {
        border-radius: 50px;
        margin: auto;
    }
}

.nav {
    display: flex;
    flex-direction: row;
	flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    /* -webkit-align-items: center; */
    /* -webkit-justify-content: center; */
    /* -webkit-flex-direction: row; */
    /* display: -webkit-flex; */
}

.nav a {
    border-radius: 50px;
    text-align: center;
    border: 1px solid black;
    width: 3%;
    text-decoration: none;
}

.topnav {
    overflow: hidden;
    text-align: center;
    
    margin-top: 100px;
}

.topnav a {
    /* float: left; */
    text-decoration: none;
    padding: 0 10px 0 0;
    font-size: 25px;
}

/* Prevents a tags from changing color after being clicked */
a, a:visited, a:hover, a:active {
    color: inherit;
}