.colored-text {
    color: red;
}

body {
    background: rgb(58, 58, 58);
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0 5px 0 0;
    padding: 0 0 0 0;
}

h1 {
    background: black;
    color: rgb(0, 183, 255);
}

h2 {
    color: rgb(158, 158, 158);
}

button {
    background: gray;
    border-radius: 8px;
    border: none;
    color: white;
}

header {
    padding: 0 0 10px 15px;
}

section, footer {
    padding: 10px 0 10px 15px;
}

header {
    background: black linear-gradient(-150deg, lightslategrey, darkslategrey);
    height: 150px;
    text-align: center;
}

header .logo a {
    background-image: url("content/images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 70px;
    margin-top: 10px;
    position: relative;
    text-indent: -9999999px;
    top: -30px;
    width: 70px;
}

/*header li:not(:last-child) {
    margin: 30px 60px 0 0;
}*/

header li {
    margin: 50px 50px 0 0;
    vertical-align: top;
}

header a {
    color: whitesmoke;
    font-size: 25px;
    padding-top: 25px;
    text-decoration: none;
 }
section {
    background: white;
    color: gray;
    display: flex;
    flex-direction: row;
}
div {
    /*display: inline-block;*/
    background: red;
    margin: auto;
    width: 100px;
}

footer {
    background: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin-left: 20px;
}

li:first-child {
    margin-left: 0;
}

a:hover {
    color: white;
}

.features {

}
/*
@font-face {
    font-family: Roboto;
    src: url("https://fonts.googleapis.com/css?family=Roboto&display=swap") format("font-woff");
}*/
