.red-text {
    color: purple;
}

.mpv {
    border-spacing: 5px;
}

html {
    background-color: #181e2a;
    background: url("https://raw.githubusercontent.com/allnaturalbaby/allnaturalbaby.github.io/master/content/images/woah.jpg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}