html, body {
    /* background-color: lightslategray; */
    font-family: 'Oxygen', sans-serif;
    letter-spacing: 2px;
    font-size: large;
    margin: 0;
    padding: 0;
}
body {
    background: -webkit-linear-gradient(90deg, rgb(97, 112, 128) 21px, rgba(255, 255, 255, 0) 100%) center, linear-gradient(rgb(97, 112, 128) 21px, rgba(255, 255, 255, 0) 99%) center, floralwhite;
    background-size: 22px 22px;
}

.topnav img {
    padding: 0;
    border-radius: 5px;
    margin-bottom: -6px;
}

.topnav a {
    text-decoration: none;
    font-size: 25px;
}

footer {
    text-align: center;
    margin-bottom: 100px;  
}

footer img {
    border-radius: 50px;
    margin-bottom: -5px;
}

#container {
    display: grid;
    width: 100%;
    grid-template-areas: "header" "content" "footer";
    grid-template-rows: 150px auto 65px;
    grid-template-columns: 1fr;
}
#container > .topnav {
    grid-area: "header";
    text-align: center;
    /* background-color: brown; */
    margin: auto 0 10px 0;
}
#container > .content {
    grid-area: content;
    min-height: 50vh;
}
#container > footer {
    grid-area: footer;
    margin-top: 20px;
    /* background-color: blue; */
}
.content {margin: 0; padding: 0;}

#proj-container {
    display: grid;
    width: 50vh;
    min-width: 360px;
    margin: auto;
    /* grid-template-columns: 124px 1fr; */
    grid-template-columns: 124px minmax(0, 1fr);
    grid-template-rows: .5fr .5fr .5fr .5fr;
    grid-template-areas: "1 1-text" "2 2-text" "3 3-text" "4 4-text";
    gap: 10px 10px;
}
#proj-container > #item1 {
    grid-area: 1;
    /* background-color: black; */
}
#proj-container > #text1 {
    grid-area: 2-text;
    /* background-color: black; */
}

#proj-container > #item2 {
    /* background-color: white; */
    grid-area: 2;
}
#proj-container > #text2 {
    grid-area: 1-text;
    /* background-color: white; */
}

#proj-container > #item3 {
    grid-area: 3;
    /* background-color: gray; */
}
#proj-container > #text3 {
    grid-area: 3-text;
    /* background-color: gray; */
}

#proj-container > #item4 {
    grid-area: 4;
    /* background-color: gray; */
}
#proj-container > #text4 {
    grid-area: 4-text;
    /* background-color: gray; */
}

/* counter */
.counter {
    width: 500px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 0;
}

.box {
    text-align: center;
    min-width: 100px;
}

.time {
    font-size: 4rem;
    font-weight: 500;
}

.label {
    font-size: 1.2rem;
    font-weight: 300;
}

.counter-input {
    width: 230px;
    width: 240px;
    display: flex;
    justify-content: space-evenly;
    margin: 20px auto auto auto;
}

.counter-input input {
    width: 50px;
}

#setTime {
    display: block;
    margin: 5px auto auto auto;
}

.test-counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    margin: 50px auto;
}
.test-display {
    margin: auto;
}
#t1 {
    margin: auto;
    width: 50px;
}

/* Prevents a tags from changing color after being clicked */
a, a:visited, a:hover, a:active {
    color: inherit;
}
.border {
    border: 1px solid white;
}
p {
    word-wrap: break-word;
    margin: 0;
    padding: 5px 0 0 5px;
}

@media all and (max-width: 600px) {
    /* body {
        font-size: large;
    } */
    /* .topnav {
        text-align: center;
        margin-top: 50px;
    }
    .topnav a {
        text-decoration: none;
        border-radius: 50px;
        margin: auto;
    } */
    /* .topnav {
        padding-top: 50px;
    } */
}
