html {
    position: relative;
    min-height: 100%;
}
body {
    /*background: rgb(58, 58, 58);*/
    /*background: #28559A;*/
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0 0 6% 0;
}

header {
    /*background-color: #4ABDAC;*/
    height: 120px;
    text-align: center;
    width: 100%;
}

header .logo a {
    background-image: url("content/images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 52px;
    margin-top: 10px;
    position: relative;
    text-indent: -9999999px;
    top: 5px;
    width: 70px;
}

.site-nav {
    background: url("content/images/citysil.png");
    background-size: contain;
    height: 120px;
    white-space: nowrap;
}

.site-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-shadow: black 1px 1px;
}

.site-nav li {
    display: inline-block;
    margin-left: 20px;
}

.site-nav-ul a {
    color: whitesmoke;
    font-size: 1.5rem;
    padding-top: 30px;
    /*margin: 0;*/
    text-decoration: none;
}

.site-nav-ul:first-child {
    margin-left: 0;
}

.site-nav-ul li:first-child {
    margin-left: 0;
}

.site-nav-ul li a:hover {
    color: black;
    /*color: white;*/
}

.line {
    border: 2px solid #3778C2; /* lightgray */
    position: relative;
}

.features {
    /*background: white;*/
    padding: 20px;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.features figure {
    text-transform: uppercase;
    margin: auto;
    width: 200px;
    text-align: center;
}

.features figure img {
    border: 1px solid white; /*testing purposes*/
    border-radius: 50%;
    box-shadow: grey 0 0 10px;
    width: 120px;
}

.features figure figcaption {
    /*color: #4d4d4d;*/
    color: whitesmoke;
    font-size: 0.9rem;
}

.features figure:hover {
    transition-duration: 0.05s;
    transform: scale(0.93);
}

footer {
    /*background: black;*/
    /*overflow: hidden;*/
    /*border: 1px solid white;*/
    bottom: 5px;
    color: grey;
    padding: 0 0 2% 2%;
    font-size: 0.8rem;
    position: absolute;
    text-align: left;
    height: 12px;
}


